@import '../../styles/variables';

.user {
  display: flex;
  align-items: center;
  margin-bottom: $base-margin;
}

.username {
  margin-right: $base-margin;
  color: $color-text-dark;
  font-size: $default-font-size;
  text-align: center;
}
