$color-primary: #496497;
$color-secondary: #92a8c9;

$color-grey-dark: #49505a;
$color-grey-light: #d6deeb;

$color-text-dark: #364c6d;
$color-text-medium: #4a6a96;
$color-text-light: #f4f5f6;

$color-error: #fd120e;
$color-warning: #ffcc00;
$color-success: #37ce00;

$base-padding: 1.8rem;

$base-margin: 1.8rem;

$default-font-size: 1.4rem;
