@import '../../../styles/mixins';
@import '../../../styles/variables';

.input {
  padding: 1rem;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  outline: none;
  color: $color-text-dark;
  font-size: $default-font-size;
}

.sm {
  width: 15rem;

  @include breakpoint(md) {
    width: 25rem;
  }

  @include breakpoint(lg) {
    width: 30rem;
  }
}

.md {
  width: 20rem;

  @include breakpoint(md) {
    width: 30rem;
  }

  @include breakpoint(lg) {
    width: 35rem;
  }
}

.lg {
  width: 20rem;

  @include breakpoint(md) {
    width: 40rem;
  }

  @include breakpoint(lg) {
    width: 45rem;
  }
}
