@import '../../../styles/mixins';
@import '../../../styles/variables';

.input {
  padding: 1rem;
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  border-left: 1px solid $color-grey-light;
  border-right: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  color: $color-text-dark;
  font-size: $default-font-size;

  @include breakpoint(md) {
    width: 35rem;
  }

  @include breakpoint(lg) {
    width: 40rem;
  }
}
