@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  padding: $base-padding;
  margin: $base-margin;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
}

.communityName {
  display: inline-block;
  margin-bottom: $base-margin;
  color: $color-primary;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    color: $color-secondary;
  }
}

.title {
  margin-bottom: $base-margin;
  color: $color-text-dark;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  cursor: pointer;
}

.line {
  height: 0.1rem;
  margin-bottom: $base-margin;
  background-color: $color-text-light;
}

.content {
  color: $color-text-dark;
  font-size: $default-font-size;
  line-height: 1.5;
  margin-bottom: $base-margin;
  cursor: pointer;
}

.date {
  color: $color-text-dark;
  font-size: $default-font-size;
}

.voteContainer {
  display: flex;
  margin-top: $base-margin;
  gap: $base-margin;
  font-size: $default-font-size;
  color: $color-primary;
}

.vote {
  display: flex;
  gap: 0.5rem;
  border: 1px solid $color-grey-light;
  padding: 0.5rem;
  border-radius: 3px;
  color: $color-primary;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    color: $color-secondary;
  }

  &:active {
    transform: scale(0.95);
  }
}
