@import '../../styles/mixins';
@import '../../styles/variables';

.spinner {
  width: 8rem;
  height: 8rem;
  border: 2px solid $color-grey-light;
  border-left-color: $color-primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
