@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $base-padding;
  margin: $base-margin;

  > * {
    margin-bottom: $base-margin;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.username {
  font-size: $default-font-size;
  color: $color-text-dark;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-secondary;
  }
}

.content {
  font-size: $default-font-size;
  color: $color-text-dark;
}

.date {
  font-size: 1.2rem;
  color: $color-text-dark;
}

.line {
  height: 0.1rem;
  background-color: $color-text-light;
  margin-bottom: $base-margin;
}

.delete {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: $default-font-size;
  color: $color-error;
  border: 1px solid $color-error;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-error;
    color: $color-text-light;
  }

  &:active {
    transform: scale(0.95);
  }
}
